@media only screen and (min-width: 60em)
{
    h1
    {
        font-size: 2rem;
    }


    nav a
    {
        font-size: 1.1rem;
    }

    nav button 
    {
        display: none;
    }

    nav ul.hide
    {
        display: block;
    }

    nav ul li 
    {
        float: left;
        text-align: center;
        padding: 20px;
    }

    #primaryNav
    {
        display: block;
        margin-top: 5px;
    }

}