body
{
    font-size: 16pt;
    background-color: #F1FEC6;
}

nav
{
    background-color: #29339B;
    text-align: center;
    padding: 10px;
}

nav ul
{
    list-style-type: none;
}

nav ul li a
{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a:hover
{
    color: #FF3A20;
}

header
{
    color: white;
    background-color: #74A4BC;
    text-align: center;
    padding: 10px;
}

header, nav, footer, main
{
    max-width: 760px;
    margin: 0 auto;
}

header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer
{
    margin-top: 25px;
    text-align: center;
    background-color: #29339B;
    color: white;
    padding: 25px;
}

footer a
{
    color: white;
}

footer a:hover
{
    color: #FF3A20;
}

table
{
    border: 1px solid;
    padding: 10px;
}

td
{
    border: 1px solid;
    padding: 10px;
    width: 25%;
    text-align: center;
}

#color1
{
    background-color: #29339B;
}

#color2
{
    background-color: #F1FEC6;
}

#color3
{
    background-color: #74A4BC;
}

#color4
{
    background-color: #FF3A20;
}

#color5
{
    background-color: #B6D6CC;
}

h1,h2,h3
{
    font-family: 'Fredoka One', cursive;
}

h3
{
    color: #29339B;
    display: flex;
    justify-content: center;
}

p
{
    font-family: 'Josefin Slab', serif;
}

h1
{
    color: #29339B;
}

.motto
{
    color: #29339B;
    padding: 10px;
}

nav button 
{
    background-color: transparent;
    border: none;
    color: white;
}

nav ul.hide 
{
    display: none;
}

.logo
{
    display: flex;
    justify-content: center;
    padding: 25px;
}

main div
{
    margin: 1em;
    background-color: #74A4BC;
    padding: 10px;
    border-top: 3px dotted white;
    border-bottom: 3px dotted white;
    border-left: 3px dotted white;
    border-right: 3px dotted white;
}

.clearfix:after
{
    content: "";
    display: table;
    clear: both;
}

table
{
    display: table;
}

td, th
{
    width: 150px;
}

.banner
{
    display: none;
    text-align: center;
}

.social-media img
{
    width: 25px;
}

.hero img
{
    width: 100%;
}

.hero
{
    position: relative;
}

.weather-summary
{
    position: absolute;
    margin-right: 35px;
    top: 20px;
    left: 20px;
    background: #74A4BC;
    border-top: 2px solid white;
    border-left: 2px solid white;
    padding: 15px;
    box-shadow: 3px 3px 0 0 white;
    opacity: 1;
    max-height: 200px;
    line-height: .5;
}

.weather-summary p
{
    color: white;
}

main h2
{
    color: #29339B;
}

.article
{
    text-align: center;
    border: white dotted 3px;
    margin: 4rem 0;
    padding: 10px;
    max-width: 900px;
    background-color: #74A4BC;
}

.article-content
{
    display: flex;
    justify-content: center;
    padding: 10px;
    color: white;
    flex-direction: column-reverse;
}

.article-content img
{
    border: white solid 1px;
    width: 100%;
}

.map img
{
    width: 100%;
    border: black solid 1px;
    flex-direction: column-reverse;
    
}

.contact
{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    color: white;
}


